.content,
button {
    text-align: center
}

.logo,
button {
    cursor: pointer
}

.navbar ul li::after,
span {
    width: 0;
    position: absolute;
    left: 0;
    transition: .5s
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('img/Scooty3.jpg');
    background-size: cover;
    background-position: center
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    width: 120px
}

.content,
.navbar ul li:hover::after {
    width: 100%
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase
}

.navbar ul li::after {
    content: '';
    height: 3px;
    background: #bef01a;
    bottom: -10px
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #f1cf0e
}

button {
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: 700;
    border: 2px solid #140f1d;
    background: darkgrey; 
    color: #15131c;
    position: relative;
    transition: 0.5s;
}

#btn::after{
    border: none;
    width: 100px;
    background: darkblue;
    color:darkgrey ;
    border: none;
}

/* span {
    background: #1529ab;
    height: 100%;
    border-radius: 25px;
    bottom: 0;
    z-index: -100
} */

